{% extends 'base.html' %}
{% block content %}


<div id="on_acceptance">
    <p> Рассмотрение </p>
    {% for on_accept, pathes in rec.items() %}
        <a href="/card{{on_accept.id}}">

            <div class="card">
                <p> Номер объявления: {{ on_accept.id }}</p>
                <p> Название объявления: {{ on_accept.name }} </p>
                <p> Описание объявления: {{ on_accept.description }} </p>
                <p> Тип категории: {{ on_accept.category_id }} </p>
                <p> Фото объявления:
                    <img src="{{ pathes[0] }}">
                </p>
                <p> Дата опубликования: {{ on_accept.created_on }} </p>
            </div>

            <div class="container_by_form">
                <form action='/complete/{{on_accept.id}}'>
                    <button type="submit">Завершить оборот</button>
                </form>
                <form action='/deystvo/{{on_accept.id}}'>
                    <button type="submit">Вернуть в действующие</button>
                </form>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
