{% extends 'base.html' %}
{% block content %}

<div class="form">
    <h1>Создание объявления</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p> {{ form.name.label }}<br> {{ form.name(size=32) }} </p>
        <p> {{ form.description.label }}<br> {{ form.description(size=32) }} </p>
        <p> {{ form.contact_data.label }}<br> {{ form.contact_data(size=32) }} </p>
        <p> {{ form.category.label }} <br> {{ form.category(size=4) }} </p>

        <div>
           <label for="file">Выберите файлы для загрузки</label>
           <input type="file" id="file" name="file" multiple>
        </div>

        {% if message %}
        <h4> {{ message }} </h4>
        {% endif %}

        <p> {{ form.submit() }} </p>
    </form>
</div>

{% endblock %}