<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="app">
        <div class="index-root">
            <div class="index-inner">
                <ul class="index-nav">
                    <li class="index-nav-item">
                        <a class="index-nav-link" href="/index">Главная</a>
                    </li>

                    <li class="index-nav-item">
                        <a class="index-nav-link" href="/about">О нас</a>
                    </li>
                </ul>

                <div class="index-services-menu">
                    {% if current_user.is_authenticated %}
                        {% if current_user.role == "Админинстратор" %}
                            <a class="index-services-menu-link" href="/admin">Кабинет админинстратора</a>
                        {% endif %}
                        <a class="index-services-menu-link" href="/profile">Профиль</a>
                    {% else %}
                        <a class="index-services-menu-link" href="/login">Вход</a>
                        <a class="index-services-menu-link" href="/registry">Регистрация</a>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="index-center">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>