{% extends 'base.html' %}
{% block content %}
    <div class="item-view-page-layout">
        <div class="style-item-view-page-layout">
            <div class="style-item-navigation">
                <span class="breadcrumbs-linkWrapper">
                    <a class="breadcrumbs-link">
                        <span>Категория: {{ data.category_id }}</span>
                    </a>
                </span>
            </div>

            <div class="style-item-view-content">
                <div class="style-item-view-content-left">
                    <div class="style-title-info-container">
                        <div>
                            <h1 class="style-title-info-title">
                                <span>{{ data.name }}</span>
                            </h1>
                        </div>

                        <div class="style-title-info-actions">
                            <span>{{ data.created_on }}</span>
                        </div>
                    </div>

                    <div class="style-item-view-main">
                        <div class="gallery-block-new-style-container">
                            <div class="image-frame-borderWrapper-p1PJn">
                                <span class="image-frame-cover" style="background-image: url({{ path[0] }});"></span>
                                <img class="css" src="{{ path[0] }}" alt="{{ data.name }}">
                            </div>
                        </div>

                        <div class="style-item-view-block">
                            <div class="style-item-description-title">
                                Описание
                            </div>

                            <div class="style-item-description-text">
                                <p>
                                    {{ data.description }}
                                </p>
                            </div>
                        </div>

						<p> Профиль пользователя: <a href="/profile/{{ data.user_id }}"> {{ data.user_id }} </a> </p>

						{% if current_user.is_authenticated %}
							<div class="style-item-description-title">
								Комментарии
							</div>

							<div id="pv_comments">
								{% for el in rvs %}
									<div class="style-seller-info reply">
										<div class="style-seller-info-prop">
											<span class="text">{{ el.user_id }}</span>

											<div>
												{{ el.text }}
											</div>

											<span>{{ el.date }}</span>
										</div>
									</div>
								{% endfor %}
							</div>

							<form action="" method="post" novalidate>
								{{ form.hidden_tag() }}
								<p> {{ form.text.label }}<br> {{ form.text(size=32) }} </p>
								<p> {{ form.submit() }} </p>
							</form>

							{% if current_user.id != data.user_id %}
								<a class="index-center" href="/marked/{{data.id}}">Оценить объявление</a>
							{% endif %}

                            {% if current_user.id == data.user_id or current_user.role == "Админинстратор" %}
                                <a class="index-center" href="/on_accepted/{{data.id}}">На завершение</a>
                            {% endif %}

							{% if current_user.id == data.user_id or current_user.role == "Админинстратор" %}
								<a class="index-center" href="/on_deleted/{{data.id}}">Подготовить к удалению</a>
							{% endif %}
						{% endif %}
                    </div>
                </div>

                <div class="style-item-view-content-right">
                    <div class="style-item-view-actions">
                        <div class="contact-bar-wrapper">
                            <span>
                                <div>
                                    <button class="button-button">
                                        <span>
                                            <div class="button-button__text_wrapper">
                                                <span class="text-size-l">Контактные данные</span>
                                                <span class="text-size-s">8 910 XXX-XX-XX</span>
                                            </div>
                                        </span>
                                    </button>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="style-item-view-search-info-redesign">
                        <span>№ {{ data.id }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}