{% extends 'base.html' %}
{% block content %}


<div id="deleted">
    <p> Удаление </p>
    {% for delete, path in deleted.items() %}
        <a href="/card{{delete.id}}">
            <form action="{{url_for('delete', id=delete.id)}}" method="post" novalidate>
                <div class="card">
                    <p> Номер объявления: {{ delete.id }}</p>
                    <p> Название объявления: {{ delete.name }} </p>
                    <p> Описание объявления: {{ delete.description }} </p>
                    <p> Тип категории: {{ delete.category_id }} </p>
                    <p> Фото объявления: <img src="{{ path[0] }}"></p>
                    <p> Дата опубликования: {{ delete.created_on }} </p>
                    <button type="submit">Удалить</button>
                </div>
            </form>
        </a>
    {% endfor %}
</div>



<!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->

{% endblock %}

